.footer {
  background: #c70039;
  display: flex;
  justify-content: space-between;
  height: 450px;
  width: 100%;
  padding: 45px 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.footer-link {
  color: white;
  text-decoration: underline;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
}



@media(max-width: 1024px) {
  .footer {
    height: 113%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

@media(max-width: 768px) {
  .footer {
    height: 160%;
  }
}