.blocks {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(18, 40px);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 1.5rem;
}
.item {background-color: #c70039;}

.wrapper:hover {
  cursor: url('https://i.ibb.co/6bycCv7/Ellipse-4.png'), default;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #443737;
}

.text {
  align-items: center;
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
  text-align: justify;
  color: #443737;
}

.study {
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  text-decoration-color: #c70039;
  color: #443737;
  font-weight: lighter;
}

.study:hover {
  text-decoration: none;
  color: #c70039;
  font-weight: lighter;
}

.irina {
  margin-left: 45%;
}

.link {
  margin-left: 45%;
}

.social {
  text-decoration: none;
  color: #443737;
}

.social:hover {
  color: #c70039;
}

.wrap-do {
  display: flex;
  justify-content: space-between;
 /* padding: 10% 20%;*/
 margin: 0 auto;
 padding-left: 30%;
 padding-right: 25%;
}

.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, #EECCCC 0, #EECCCC 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.underlined:hover {
  color: black;
  text-decoration: none;
  background-size: 100% 100%;
}

.underlined--offset {
  color: black;
  text-decoration: none;
  background-position: 0 0.2em;
  /*//didn't find another solution than mask the underline shape by a box shadow with the same color than the bg*/
  box-shadow: inset 0 -.5em 0 0 white;
}

.front {
  justify-content: space-between;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.manager {
  justify-content: space-between;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.description {
  margin-bottom: 0px;
}

/*carousel*/
html, body, main {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 400px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  height: 400px;
  width: 650px;
  object-fit: cover;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  background-color: #EECCCC;
  color: white;
}

.btn:hover {
  color: white;
  background-color: #e8b9b9;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}



/*@media (-moz-os-version: windows-xp), (-moz-os-version: windows-vista),
(-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  .buttons {
     top: 161%;
  }
}*/

@media(max-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(3, 40px);
  }
  .buttons {
    top: 128%;
  }
}

@media(max-width: 768px) {
  .wrap-do {
    padding-left: 12%;
    padding-right: 12%
  }
  .wrapper {
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(3, 40px);
  }
  #carousel {
    top: 43%;
  }
  .buttons {
    top: 155%;
  }
}

@media(max-width: 576px) {
  .wrap-do {
    padding-left: 50px;
    padding-right: 0;
  }
  .wrapper {
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(3, 40px);
  }
  .name {
    margin-bottom: 0px;
  }
  #carousel {
    top: 50%;
  }
  .buttons {
    top: 182%;
  }
}
