.blocks {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(18, 40px);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 1.5rem;
}
.item {
  background-color: #c70039;
}

.wrapper:hover {
  cursor: url('https://i.ibb.co/6bycCv7/Ellipse-4.png'), default;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #443737;
}

.text {
  align-items: center;
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
  text-align: justify;
  color: #443737;
}

.study {
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  text-decoration-color: #c70039;
  color: #443737;
  font-weight: lighter;
}

.study:hover {
  text-decoration: none;
  color: #c70039;
  font-weight: lighter;
}

.irina h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.link {
  margin-left: 45%;
}

.social {
  text-decoration: none;
  color: #443737;
}

.social:hover {
  color: #c70039;
}

.wrap-do {
  display: flex;
  justify-content: space-between;
 /* padding: 10% 20%;*/
 margin: 0 auto;
 padding-left: 30%;
 padding-right: 25%;
}

.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, #EECCCC 0, #EECCCC 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.underlined:hover {
  color: black;
  text-decoration: none;
  background-size: 100% 100%;
}

.underlined--offset {
  color: black;
  text-decoration: none;
  background-position: 0 0.2em;
  /*//didn't find another solution than mask the underline shape by a box shadow with the same color than the bg*/
  box-shadow: inset 0 -.5em 0 0 white;
}

.front {
  justify-content: space-between;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.manager {
  justify-content: space-between;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.description {
  margin-bottom: 0px;
}

/*carousel*/
html, body, main {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
}


/*@media (-moz-os-version: windows-xp), (-moz-os-version: windows-vista),
(-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  .buttons {
     top: 161%;
  }
}*/
@media(max-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(3, 40px);
  }
}



@media(max-width: 768px) {
  .wrap-do {
    padding-left: 12%;
    padding-right: 12%
  }
  .wrapper {
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(3, 40px);
  }
}

@media(max-width: 576px) {
  .wrap-do {
    padding-left: 50px;
    padding-right: 0;
  }
  .wrapper {
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(3, 40px);
  }
  .name {
    margin-bottom: 0px;
  }
  .irina h1 {
    margin-left: 18%;
  }
  .link {
    margin-left: 32%;
  }
}
